<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opensams.dal.PermissionDao">

    <sql id="basicColumn">
        id, permission, permission_code, created_at, modified_at
    </sql>

    <resultMap id="basicMap" type="permission">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int"/>
        <result column="permission" jdbcType="VARCHAR" property="permission" javaType="string"/>
        <result column="permission_code" jdbcType="VARCHAR" property="permissionCode" javaType="string"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" javaType="date"/>
        <result column="modified_at" jdbcType="TIMESTAMP" property="modifiedAt" javaType="date"/>
    </resultMap>

    <select id="queryPermissionsByCodes" parameterType="list" resultMap="basicMap">
        SELECT
        <include refid="basicColumn"/>
        FROM permission
        <where>
            <foreach collection="permissionCodes" item="permissionCode">
                OR permission_code = #{permissionCode}
            </foreach>
        </where>
    </select>

    <select id="queryAllPermissions" resultMap="basicMap">
        SELECT
        <include refid="basicColumn"/>
        FROM permission
    </select>

</mapper>