<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opensams.dal.RoleDao">

    <sql id="basicColum">
        id, role, role_code, created_at, modified_at
    </sql>

    <resultMap id="basicMap" type="role">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int"/>
        <result column="role" jdbcType="VARCHAR" property="role" javaType="string"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" javaType="string"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" javaType="date"/>
        <result column="modified_at" jdbcType="TIMESTAMP" property="modifiedAt" javaType="date"/>
    </resultMap>

    <select id="queryRolesByCodes" resultType="role" resultMap="basicMap">
        SELECT
        <include refid="basicColum"/>
        FROM role
        <where>
            <foreach collection="roleCodes" item="roleCode">
                OR role_code = #{roleCode}
            </foreach>
        </where>
    </select>

</mapper>