<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opensams.dal.StudentRoleDao">

    <sql id="basicColumn">
        id, student_code, role_code, created_at, modified_at
    </sql>

    <resultMap id="basicMap" type="studentRole">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int"/>
        <result column="student_code" jdbcType="VARCHAR" property="studentCode" javaType="string"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" javaType="string"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" javaType="date"/>
        <result column="modified_at" jdbcType="TIMESTAMP" property="modifiedAt" javaType="date"/>
    </resultMap>

    <select id="queryRoleCodesByStudentCode" resultType="studentRole" resultMap="basicMap">
        SELECT
        <include refid="basicColumn"/>
        FROM student_role
        WHERE student_code = #{studentCode}
    </select>

</mapper>